# Logs
*.log
npm-debug.log*

# Dependencies (each package also has its own .gitignore)
node_modules

# Env files
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
